<div class="modal fade" id="resolveIssueModal" tabindex="-1" aria-labelledby="resolveIssueModalLabel" aria-hidden="true" [class.show]="issueNo !== null" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="resolveIssueModalLabel">
            Resolve Issue # {{issueNo}}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to close the issue?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" (click)="disagree()">Cancel</button>
          <button type="button" class="btn btn-danger" (click)="agree()">Yes, continue</button>
        </div>
      </div>
    </div>
  </div>
  